.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
	list-style: none;
}

.Button {
	border-radius: 50%;
  }

.freenavb {
	background-color: #F2F2F2;
	display: block;
	line-height: 25px;
	white-space: nowrap;
	white-space-collapse: collapse;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	display: flex;
	padding: 10px;

	text-align: center;
	align-items: center;
}

li, td {
	list-style: none;
}

div {
	letter-spacing: -0.5px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
  }

  .ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	cursor: pointer;
  }

  #root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
  }
  
  .logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
  }
  .logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  @media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
	  animation: logo-spin infinite 20s linear;
	}
  }
  
  .card {
	padding: 5em;
	width: 28rem !important;
    height: 36rem !important;
	margin: auto;
	margin-top: 50px;
  }
  
  .read-the-docs {
	color: #888;
  }
