/* @import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap'); */

* {
    position: relative;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
}